@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  margin: 0;
  min-height: 100%;
}

.page-container {
  width: 1200px;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}


.page-header {
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  align-items: center;
  padding: 0;
  padding-left: 70px;
  padding-right: 70px;
}


.navigation-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  padding-right: 280px;
  list-style-type: none;
  justify-content: flex-start;
}


.navigation-list-user  {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-link-search {
  padding: 0;
  margin: 0;
}

.navigation-link-like {
  padding: 0;
  margin: 0;
}

.navigation-link {
  display: block;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
  padding: 20px 16px;
  text-align: center;
}

.navigation-list-user .navigation-link {
  padding: 18px 12px;
}

.navigation-link-button {
  background: #756157;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 8px 20px;
  text-decoration: none;
}


.main-index {
  background-color: #FFFFFF;
}

.main-picture {
  background-image: url("../images/index/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 82px;
  padding-left: 70px;
  padding-right: 70px;
}

.welcome {
  display: block;
  margin: 0 auto;
}

.reason {
  margin: 0;
  text-align: center;
  padding-top: 69px;
  padding-bottom: 90px;
  padding-left: 70px;
  padding-right: 70px;
}

.reason-first {
  width: 620px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 25px;
}

.why-sedona {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.advantages {
  width: 1200px;
  margin: 0;
  padding: 0;
}

.advantages-list {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-top: 103px;
  padding-bottom: 121px;
}

.advantages-item-dark {
  background-color: #82B3D3;
  color: #FFFFFF;
  min-width: 400px;
  display: flex;
  margin: 0;
  padding: 0;
}

.advantages-text-dark {
  width: 400px;
}


.advantages-item-bright {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-white {
  background-color: #FFFFFF;
  text-align: center;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 85px;
  padding-bottom: 121px;
  margin: 0;
}


.advantages-title-white {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  width: 175px;
  padding-top: 92px;
  padding-bottom: 62px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  width: 175px;
  margin: 0;
  padding: 0;
  padding-bottom: 62px;
}

.facilities-title {
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
}

.advantages-description {
  line-height: 21px;
  width: 230px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.advantages-facilities {
  padding-top: 80px;
  padding-bottom: 81px;
}


.advantages-picture {
  margin-bottom: 30px;
}

.interested {
  background-color: #FFFFFF;
  width: 592px;
  margin: 0 auto;
  text-align: center;
  padding: 96px 304px;
}

.interested-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;
  margin: 0;
}

.interested-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 56px;
}

.interested-button {
  width: 376px;
  padding: 8px 50px 8px 50px;
  background: #756157;
  border-radius: 4px;
  text-align: center;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.index-distribution {
  background-color: #756157;
  background-image: url("../images/index/background-email.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 70px 104px;
}

.distribution-container {
  width: 684px;
  text-align: center;
  margin: 0 auto;
}

.distribution-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
}

.distribution-description {
  font-size: 22px;
  line-height: 26px;
}

.distribution-email {
  display: flex;
}

.email {
  background: #F2F2F2;
  width: 452px;
  padding: 12px 20px 12px 20px;
  border: 0;
  border-radius: 4px 0 0 4px;;
  box-sizing: border-box;
}


.distribution-button {
  font-family: "PT Sans", sans-serif;
  width: 232px;
  text-align: center;
  background: #82B3D3;
  border-radius: 0 4px 4px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 8px 25px 8px 25px;
  margin: 0;
  border-style: hidden;
}


.catalog-distribution {
  background-color: #FFFFFF;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 70px 104px;
}


.page-footer {
  background-color: #FFFFFF;
  padding-top: 45px;
  padding-bottom: 35px;
}

.page-footer-container {
  display: flex;
  width: 1060px;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.footer-social-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.phone-number {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  margin: 0;
  padding: 0;
}


.catalog-filter {
  background-image: url("../images/catalog/background-filter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #756157;
  color: #FFFFFF;
  padding-top: 35px;
  padding-right: 70px;
  padding-bottom: 35px;
  padding-left: 70px;
  margin-bottom: 50px;
}

.catalog-filter-form {
  display: flex;
  width: 100%;
}


.comfort-items {
  display: flex;
  flex-direction: column;
  padding-right: 70px;
}

.cataloge-filter-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-bottom: 8px;
}

.breadcrumbs {
  font-size: 16px;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs-link {
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 29px;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin: 0;
}

.filter-item {
  line-height: 23px;
}

.form-price {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.filter-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.price-filter {
  width: 143px;
  background: #F2F2F2;
  border-radius: 4px;
  padding: 12px 20px 12px 20px;
  max-height: max-content;
}

.filter-label {
  line-height: 24px;
  color: #FFFFFF;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  margin-left: 70px;

}

.use {
  padding: 8px 50px 8px 50px;
  width: 191px;
  background: #82B3D3;
  border-radius: 4px;
  margin-bottom: 48px;
}

.remove {
  width: 76px;
 align-self: center;
}

.search-header {
  width: 1060px;
  display: flex;

}

.search-catalog {
  background-color: #FFFFFF;
  padding-left: 70px;
  padding-right: 70px;
}

.search {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
}

.search-control {
    padding-left: 70px;
    padding-right: 70px;
}

.control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product {
  background-color: #FFFFFF;
  width: 1060px;
  margin: 0 auto;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.product-card {
  width: 300px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  margin: 5px;
}

.product-card-title-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  margin: 0;
}



.product-description {
  width: 140px;
  padding: 8px;
  background: #756157;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.product-selected {
  width: 140px;
  padding: 8px;
  background: #82B3D3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.rating {
  width: 140px;
  padding: 8px;
  background: #F2F2F2;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination {
  width: 1060px;
  display: flex;
  margin: 0;
}

.pagination-item {
  margin: 0;
  margin-left: 4px;
  margin-right: 4px;
  list-style: none;
}


.pagination-link {
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background: #82B3D3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.pagination-link-current {
  background: #F2F2F2;
  color: #000000;
  width: 60px;
  height: 60px;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
