@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  margin: 0;
  min-height: 100%;
  min-width: 1280px;
}

.page-container {
  width: 1200px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-header {
  background-color: #ffffff;
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 1200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navigation-logo {
  position: relative;
  z-index: 1;
  margin-bottom: -10px;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: 27px;
  margin-right: auto;
  list-style-type: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.navigation-list-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-link-search {
  padding: 0;
  margin: 0;
}

.link-with-icon:hover {
  fill: #756157;
}

.link-with-icon:focus {
  fill: #756157;
}

.link-with-icon:focus-visible {
  fill: #756157;
}

.link-with-icon:active {
  fill: rgba(117, 97, 87, 0.3);
}

.navigation-link-like {
  padding: 0;
  margin: 0;
}

.likes-number {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 10px;
  padding: 4px;
  position: absolute;
  top: 5px;
  right: 2px;
  min-height: 20px;
  min-width: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navigation-link {
  display: block;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
  padding: 20px 16px;
  text-align: center;
  position: relative;
}

.navigation-link:hover {
  color: #756157;
}

.navigation-link:focus {
  color: #756157;
}

.navigation-link:focus-visible {
  color: #756157;
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-link-current::after {
  position: relative;
  content: "";
  width: 100%;
  display: block;
  border: solid 1px #756257;
  top: 20px;
}

.navigation-list-user .navigation-link {
  padding: 16px 12px;
}

.navigation-link-button {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 160px;
  text-align: center;
  background-color: #756157;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 8px 20px;
  text-decoration: none;
  margin-left: 22px;
}

.navigation-link-button:hover {
  background-color: #615048;
}

.navigation-link-button:focus {
  background-color: #615048;
  outline: none;
}

.navigation-link-button:focus-visible {
  background-color: #615048;
  outline: none;
}

.navigation-link-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.main-index {
  background-color: #ffffff;
}

.main-picture {
  background-image: url("../images/index/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  padding-bottom: 75px;
  padding-left: 70px;
  padding-right: 70px;
  background-color: #000000;
}

.main-picture::before {
  background-image: url("../images/index/index-background-bottom.svg");
  position: relative;
  left: -70px;
  top: 428px;
  display: block;
  width: 1200px;
  height: 57px;
  content: "";
}

.welcome {
  display: block;
  margin: 0 auto;
}

.reason {
  margin: 0;
  text-align: center;
  padding-top: 66px;
  padding-bottom: 90px;
  padding-left: 70px;
  padding-right: 70px;
}

.reason-first {
  width: 620px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 25px;
}

.why-sedona {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.advantages {
  width: 1200px;
  margin: 0;
  padding: 0;
}

.advantages-list {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding-top: 103px;
  padding-bottom: 120px;
}

.advantages-line::after {
  position: relative;
  left: 60px;
  display: block;
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 30px;
  margin-bottom: 30px;
}

.advantages-item-dark {
  background-color: #82b3d3;
  color: #ffffff;
  min-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.advantages-text-dark {
  width: 400px;
  padding-top: 92px;
  padding-bottom: 111px;
}

.sight-picture {
  width: 800px;
  object-fit: cover;
  height: 100%;
}

.advantages-item-bright {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-white {
  background-color: #ffffff;
  text-align: center;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 85px;
  padding-bottom: 121px;
  margin: 0;
}

.advantages-title-white {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  width: 175px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.advantages-line-white::after {
  position: relative;
  left: 60px;
  display: block;
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 30px;
  margin-bottom: 30px;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  width: 175px;
  margin: 0;
  padding: 0;
}

.facilities-title {
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
}

.advantages-description {
  line-height: 21px;
  width: 230px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.advantages-facilities {
  padding-top: 80px;
  padding-bottom: 81px;
}

.house-facilities::before {
  content: "";
  background-image: url("../images/index/house.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  margin-bottom: 32px;
  align-self: center;
}

.food-facilities::before {
  content: "";
  background-image: url("../images/index/food.svg");
  background-repeat: no-repeat;
  width: 74px;
  height: 70px;
  margin-bottom: 34px;
  align-self: center;
}

.gift-facilities::before {
  content: "";
  background-image: url("../images/index/present.svg");
  background-repeat: no-repeat;
  width: 64px;
  height: 76px;
  margin-bottom: 28px;
  align-self: center;
}

.interested {
  margin: 0;
  background-color: #ffffff;
  padding: 96px 70px;
  text-align: center;
}

.interested-title {
  width: 297px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 20px;
}

.interested-description {
  width: 592px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 54px;
}

.interested-button {
  text-transform: uppercase;
  border: none;
  width: 376px;
      margin: 0 auto;
  padding: 8px 50px 8px 50px;
  background-color: #756157;
  border-radius: 4px;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  box-sizing: border-box;
  display: block;
}

.interested-button:hover {
  background-color: #615048;
}

.interested-button:focus {
  background-color: #615048;
}

.interested-button:focus-visible {
  background-color: #615048;
}

.interested-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.index-distribution {
  background-color: #756157;
  background-image: url("../images/index/background-email.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 96px 70px 104px;
}

.distribution-container {
  width: 684px;
  text-align: center;
  margin: 0 auto;
}

.distribution-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  padding-bottom: 20px;
}

.catalog-distribution-title {
  color: #000000;
}

.catalog-distribution-description {
  color: #000000;
}

.distribution-description {
  font-size: 22px;
  line-height: 26px;
  width: 475px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.distribution-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.email {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  width: 452px;
  padding: 12px 20px 12px 20px;
  border: 0;
  margin: 0;
  border-radius: 4px 0 0 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.email:hover {
  background-color: #e6e6e6;
}

.email:focus {
  background-color: #e6e6e6;
  -webkit-box-shadow: inset 0 0 0 2px #83b3d3;
          box-shadow: inset 0 0 0 2px #83b3d3;
  outline: none;
}

.email:focus-visible {
  background-color: #e6e6e6;
  -webkit-box-shadow: inset 0 0 0 2px #83b3d3;
          box-shadow: inset 0 0 0 2px #83b3d3;
  outline: none;
}

.email:active {
  background-color: #f2f2f2;
  -webkit-box-shadow: inset 0 0 0 2px #000000;
          box-shadow: inset 0 0 0 2px #000000;
  outline: none;
}

.distribution-button {
  font-family: "PT Sans", sans-serif;
  width: 232px;
  text-align: center;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 8px 25px 8px 25px;
  margin: 0;
  border-style: hidden;
}

.distribution-button:hover {
  background-color: #68a2ca;
}

.distribution-button:focus {
  background-color: #68a2ca;
}

.distribution-button:focus-visible {
  background-color: #68a2ca;
}

.distribution-button:disabled,
.distribution-button:disabled:hover {
  background-color: #e5e5e5;
}

.distribution-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.catalog-distribution {
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 96px 70px 104px;
}

.page-footer {
  background-color: #ffffff;
  padding: 45px 70px 35px;
}

.page-footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1060px;
  margin: 0;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 144px;
}

.footer-social-item {
  margin: 0;
  padding: 0;
  width: 48px;
  height: 40px;
  text-align: center;
}

.social-link {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  padding: 10px;
  width: 40px;
  height: 44px;
  fill: #83b3d3;
}

.social-link:hover {
  fill: #68a2ca;
}

.social-link:focus {
  fill: #68a2ca;
}

.social-link:focus-visible {
  fill: #68a2ca;
}

.social-link:active {
  fill: rgba(104, 162, 202, 0.3);
}

.phone-number {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  margin: 0;
  padding: 0;
}

.phone-number:hover {
  color: #756157;
}

.phone-number:focus {
  color: #756157;
}

.phone-number:focus-visible {
  color: #756157;
}

.phone-number:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo {
  margin: 0;
  padding: 0;
}

.logo-link:hover {
  fill: #756157;
}

.logo-link:focus {
  fill: #756157;
}

.logo-link:focus-visible {
  fill: #756157;
}

.logo-link:active {
  fill: rgba(117, 97, 87, 0.3);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.close-modal-container {
  display: none;
}

.modal {
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 25px 50px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-search {
  width: 577px;
}

.modal-content {
  position: relative;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  background-image: url("../images/common/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
  right: -18px;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  -webkit-box-shadow: inset 0 0 0 2px  #83b3d3;
          box-shadow: inset 0 0 0 2px  #83b3d3;
}

.modal-close-button:focus-visible {
  -webkit-box-shadow: inset 0 0 0 2px  #83b3d3;
          box-shadow: inset 0 0 0 2px  #83b3d3;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  color: #000000;
  opacity: 0.3;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 23px;
}

.info {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  max-width: 120px;
}

.date-field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 440px;
  padding: 12px 20px;
  background-color: #f2f2f2;
  border-radius: 4px;
  border-style: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
}

.date-field:hover {
  background-color: #e6e6e6;
}

.date-field:focus {
  background-color: #e6e6e6;
  -webkit-box-shadow: inset 0 0 0 2px #83b3d3;
          box-shadow: inset 0 0 0 2px #83b3d3;
  outline: none;
}

.date-field:focus-visible {
  background-color: #e6e6e6;
  -webkit-box-shadow: inset 0 0 0 2px #83b3d3;
          box-shadow: inset 0 0 0 2px #83b3d3;
  outline: none;
}

.date-field:active {
  background-color: #f2f2f2;
  -webkit-box-shadow: inset 0 0 0 2px #000000;
          box-shadow: inset 0 0 0 2px #000000;
  outline: none;
}

.calendar-control {
  position: absolute;
  right: 20px;
  top: 15px;
  border-style: none;
  background-color: initial;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.calendar {
  fill: #000000;
  opacity: 0.3;
}

.calendar-control:hover .calendar {
  fill: #000000;
  opacity: 1;
}

.calendar-control:focus .calendar {
  fill: #000000;
  -webkit-box-shadow: inset 0 0 0 2px  #83b3d3;
          box-shadow: inset 0 0 0 2px  #83b3d3;
  border-radius: 4px;
  outline: none;
}

.calendar-control:focus-visible .calendar {
  fill: #000000;
  -webkit-box-shadow: inset 0 0 0 2px  #83b3d3;
          box-shadow: inset 0 0 0 2px  #83b3d3;
  border-radius: 4px;
  outline: none;
}

.calendar-control:active .calendar {
  fill: rgba(117, 97, 87, 0.3);
}

.proper-date {
  font-size: 16px;
  margin: 0;
  margin-top: 4px;
  margin-left: 158px;
}

.wrong-message {
  color: #ff5757;
}

.number-of-people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 48px;
  position: relative;
}

.people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
}

.number-label {
  position: relative;
}

.number-field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 48px;
  width: 110px;
  background-color: #f2f2f2;
  border-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-left: 46px;
  border-style: none;
  text-align: center;
}

.date-field-container {
  position: relative;
}

.minus-control {
  position: absolute;
  width: 40px;
  height: 48px;
  left: 50px;
  background-position: center;
  border-style: none;
  background-color: #f2f2f2;
  cursor: pointer;
}

.minus {
  fill: rgba(117, 97, 87, 0.3);
  position: absolute;
  left: 6px;
  top: 14px;
  width: 20px;
  height: 20px;
}

.minus-control:hover .minus {
  fill: #000000;
}

.minus-control:focus .minus {
  fill: #000000;
  -webkit-box-shadow: inset 0 0 0 2px  #83b3d3;
          box-shadow: inset 0 0 0 2px  #83b3d3;
  border-radius: 4px;
  outline: none;
}

.minus-control:focus-visible .minus {
  fill: #000000;
  -webkit-box-shadow: inset 0 0 0 2px  #83b3d3;
          box-shadow: inset 0 0 0 2px  #83b3d3;
  border-radius: 4px;
  outline: none;
}

.minus-control:active .minus {
  fill: rgba(117, 97, 87, 0.3);
}

.plus-control {
  position: absolute;
  width: 40px;
  height: 48px;
  right: 4px;
  background-position: center;
  background-color: #f2f2f2;
  border-style: none;
  cursor: pointer;
}

.plus {
  fill: rgba(117, 97, 87, 0.3);
  width: 20px;
  height: 20px;
}

.plus-control:hover .plus {
  fill: #000000;
}

.plus-control:focus .plus {
  fill: #000000;
  -webkit-box-shadow: inset 0 0 0 2px  #83b3d3;
          box-shadow: inset 0 0 0 2px  #83b3d3;
  border-radius: 4px;
  outline: none;
}

.plus-control:focus-visible .plus {
  fill: #000000;
  -webkit-box-shadow: inset 0 0 0 2px  #83b3d3;
          box-shadow: inset 0 0 0 2px  #83b3d3;
  border-radius: 4px;
  outline: none;
}

.plus-control:active .plus {
  fill: rgba(117, 97, 87, 0.3);
}

.tooltip {
  margin-top: 4px;
  margin-left: 10px;
  width: 26px;
  height: 26px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  color: #242424;
  display: block;
}

.tooltip-toggle:hover .tooltip-icon {
  fill: #83b3d3;
}

.tooltip-text {
  background-color: #333333;
  -webkit-box-shadow: 0 15px 30px 0 #0000004d;
          box-shadow: 0 15px 30px 0 #0000004d;
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: none;
  padding: 15px 18px 18px 22px;
  width: 216px;
  position: absolute;
  top: 55px;
  margin-bottom: 6px;
  -webkit-transform: translateX(-125px);
      -ms-transform: translateX(-125px);
          transform: translateX(-125px);
  z-index: 1;
  display: none;
}

.tooltip-text::before {
  content: "";
  background-image: url("../images/index/triangle.svg");
  position: absolute;
  width: 19px;
  height: 9px;
  top: -8px;
  left: 50%;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.search-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  border-style: hidden;
  width: 100%;
  background-color: #83b3d3;
  border-radius: 10px;
  padding: 18px 0;
}

.search-button:hover {
  background-color: #68a2ca;
}

.search-button:focus {
  background-color: #68a2ca;
}

.search-button:focus-visible {
  background-color: #68a2ca;
}

.search-button:disabled,
.search-button:disabled:hover {
  background-color: #e5e5e5;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.catalog-filter {
  background-image: url("../images/catalog/background-filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #756157;
  color: #ffffff;
  padding-top: 35px;
  padding-right: 70px;
  padding-bottom: 60px;
  padding-left: 70px;
  margin-bottom: 50px;
}

.catalog-filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.comfort-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  padding-right: 70px;
}

.cataloge-filter-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-bottom: 8px;
}

.breadcrumbs {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
  margin-right: 29px;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #ffffff;
}

.breadcrumbs-link:focus-visible {
  color: #ffffff;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item {
  position: relative;
}

.arrow::before {
  content: url("../images/catalog/arrow.svg");
  position: absolute;
  left: -18px;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.filter-list {
  line-height: 23px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.filter-item {
  margin-bottom: 16px;
}

.form-price {
  margin-left: auto;
}

.title-filter-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.price-filter-unite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 46px;
}

.unite {
  margin-right: 2px;
  position: relative;
}

.price-filter {
  width: 143px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  background-color: #f2f2f2;
  padding: 12px 30px 12px 20px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  border: 3px solid #f2f2f2;
}

.price-filter:hover {
  background-color: #e6e6e6;
}

.price-filter:focus {
  background-color: #e6e6e6;
  -webkit-box-shadow: inset 0 0 0 2px #83b3d3;
          box-shadow: inset 0 0 0 2px #83b3d3;
  outline: none;
}

.price-filter:focus-visible {
  background-color: #e6e6e6;
  -webkit-box-shadow: inset 0 0 0 2px #83b3d3;
          box-shadow: inset 0 0 0 2px #83b3d3;
  outline: none;
}

.price-filter:active {
  background-color: #f2f2f2;
  -webkit-box-shadow: inset 0 0 0 2px #000000;
          box-shadow: inset 0 0 0 2px #000000;
  outline: none;
}

.price-start {
  border-radius: 4px 0 0 4px;
  border-style: none;
}

.price-end {
  border-radius: 0 4px 4px 0;
  border-style: none;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.range-toggle:hover {
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  color: #ffffff;
  border: 3px solid #83b3d3;
  outline: none;
}

.range-toggle:focus-visible {
  color: #ffffff;
  border: 3px solid #83b3d3;
  outline: none;
}

.range-toggle:active {
  border: 2px solid #83b3d3;
  -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -11px;
}

.toggle-max {
  top: -11px;
  right: -3px;
}

.filter-label {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  background-image: url("../images/catalog/tick.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  top: 4px;
}

.control-input[type="checkbox"]:focus + .control-mark {
  -webkit-box-shadow:  0 0 0 3px #83b3d3;
          box-shadow:  0 0 0 3px #83b3d3;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.control-input[type="radio"]:focus + .control-mark {
  -webkit-box-shadow:  0 0 0 3px #83b3d3;
          box-shadow:  0 0 0 3px #83b3d3;
}

.control-input[type="radio"]:disabled + .control-mark {
  background-color: #e5e5e5;
}

.filter-item:hover .control-mark {
  background-color: #ffffff;
  opacity: 0.6;
}

.filter-item:active .control-mark {
  background-color: #ffffff;
  opacity: 0.3;
}

.filter-label:hover {
  color: #ffffff;
  opacity: 0.6;
}

.filter-label:focus {
  color: #ffffff;
}

.filter-label:focus-visible {
  color: #ffffff;
}

.filter-label:active {
  color: #ffffff;
  opacity: 0.3;
}

.filter-label:disabled,
.filter-label:disabled:hover {
  color: #ffffff;
  opacity: 0.3;
}

.price-label {
  border-radius: 4px 0 0 4px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 17px;
  top: 11px;
}

.filter-buttons {
  margin-top: 56px;
  width: 191px;
  margin-left: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.use {
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 190px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 25px 8px 25px;
  background-color: #82b3d3;
  border-radius: 4px;
  margin: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
  border: none;
}

.use:hover {
  background-color: #68a2ca;
}

.use:focus {
  background-color: #68a2ca;
  outline: none;
}

.use:focus-visible {
  background-color: #68a2ca;
  outline: none;
}

.use:disabled,
.use:disabled:hover {
  background-color: #e5e5e5;
}

.use:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.remove {
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 190px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 8px 25px 8px 25px;
  background: none;
  text-transform: uppercase;
  border: none;
  margin: 0;
}

.remove:hover {
  color: #ffffff;
  opacity: 0.6;
}

.remove:focus {
  -webkit-box-shadow: inset 0 0 0 2px  #83b3d3;
          box-shadow: inset 0 0 0 2px  #83b3d3;
  border-radius: 4px;
  outline: none;
}

.remove:focus-visible {
  -webkit-box-shadow: inset 0 0 0 2px  #83b3d3;
          box-shadow: inset 0 0 0 2px  #83b3d3;
  border-radius: 4px;
  outline: none;
}

.remove:disabled,
.remove:disabled:hover {
  background-color: #e5e5e5;
}

.remove:active {
  color: rgba(255, 255, 255, 0.3);
}

.search-header {
  width: 1060px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-catalog {
  background-color: #ffffff;
  margin: 0;
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: 31px;
}

.search {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-right: auto;
  padding-top: 7px;
}

.search-control {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 292px;
  margin-left: auto;
  padding: 12px 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  background-image: url("../images/catalog/black-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  background-color: #ffffff;
  max-height: 49px;
}

.search-control:hover {
  border: 2px solid #68a2ca;
  border-radius: 4px;
}

.search-control:focus {
  border: 2px solid #68a2ca;
  border-radius: 4px;
  outline: none;
}

.search-control:focus-visible {
  border: 2px solid #68a2ca;
  border-radius: 4px;
  outline: none;
}

.search-control:disabled,
.search-control:disabled:hover {
  background-color: #e5e5e5;
  color: rgba(0, 0, 0, 0.3);
}

.search-control:active {
  border: 2px solid #3f5e72;
  border-radius: 4px;
}

.control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.grid-buttons {
  padding: 0;
  margin: 0;
  margin-left: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 165px;
}

.grid-button:first-child {
  margin-left: 0;
}

.grid-button {
  display: inline-block;
  margin: 0;
  margin-left: 7px;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 7px;
}

.grid-button:hover {
  border: solid 2px #000000;
}

.grid-button:focus {
  border: solid 2px #68a2ca;
  outline: none;
}

.product {
  background-color: #ffffff;
  width: 1060px;
  margin: 0;
  margin-bottom: 52px;
  padding: 0 70px;
}

.product-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 340px 20px 340px 20px 340px;
  grid-template-columns: 340px 340px 340px;
  margin: 0;
  padding: 0;
  gap: 20px;
  list-style-type: none;
}

.product-card {
  width: 300px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 19px;
}

.text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-card-image {
  margin-bottom: 16px;
}

.product-card-title {
  margin: 0;
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.product-card-title-link {
  justify-self: flex-start;
  color: #000000;
  text-decoration: none;
  margin-bottom: 16px;
}

.product-item {
  width: 140px;
  margin-bottom: 16px;
}

.hotel-item {
  text-align: left;
}

.price-item {
  text-align: right;
}

.product-description {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 140px;
  padding: 8px;
  background-color: #756157;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 16px;
  cursor: pointer;
}

.product-description:hover {
  background-color: #615048;
}

.product-description:focus {
  background-color: #615048;
  outline: none;
}

.product-description:focus-visible {
  background-color: #615048;
  outline: none;
}

.product-description:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.product-selected {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 140px;
  padding: 8px;
  background-color: #82b3d3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 16px;
  cursor: pointer;
}

.chosen {
  background-color: #7db54f;
}

.product-selected:hover {
  background-color: #68a2ca;
}

.product-selected:focus {
  background-color: #68a2ca;
  outline: none;
}

.product-selected:focus-visible {
  background-color: #68a2ca;
  outline: none;
}

.product-selected:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.stars {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 140px;
  text-align: start;
}

.four-stars {
  margin-top: 10px;
  background-image: url("../images/catalog/stars.svg");
  background-repeat: space;
  width: 84px;
}

.three-stars {
  margin-top: 10px;
  background-image: url("../images/catalog/stars.svg");
  background-repeat: space;
  width: 66px;
}

.two-stars {
  margin-top: 10px;
  background-image: url("../images/catalog/stars.svg");
  background-repeat: space;
  width: 42px;
}

.rating {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 140px;
  padding: 8px;
  background-color: #f2f2f2;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination {
  width: 1060px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 80px;
  position: relative;
}

.pagination::before {
  position: absolute;
  width: 1060px;
  height: 0;
  border: 1px solid #e6e6e6;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  content: "";
  top: -40px;
}

.pagination-item:not(:last-child) {
  margin: 0;
  margin-right: 8px;
  list-style: none;
}

.pagination-link {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 60px;
  min-height: 60px;
  padding: 11px 20px;
  line-height: 36px;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  background-color: #82b3d3;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 8px;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus {
  background-color: #68a2ca;
}

.pagination-link:focus-visible {
  background-color: #68a2ca;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.dots {
  background-color: #ffffff;
  color: #000000;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 60px;
  min-height: 60px;
  padding: 11px 20px;
  line-height: 36px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
}

.pagination-link-current {
  background-color: #f2f2f2;
  color: #000000;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 60px;
  min-height: 60px;
  padding: 11px 20px;
  line-height: 36px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 8px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.not-worknig-link-button {
  background-color: #e5e5e5;
}
